    <!-- Bootstrap and necessary plugins -->
    <script src="{{ url_for('static', filename='admin/js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='admin/js/popper.min.js')}}"></script>
    <script src="{{ url_for('static', filename='admin/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='admin/js/pace.min.js')}}"></script>
    <script src="{{ url_for('static', filename='admin/js/tether.min.js')}}"></script>

    <!-- Plugins and scripts required by all views -->
    <script src="{{ url_for('static', filename='admin/js/Chart.min.js')}}"></script>

    <!-- GenesisUI main scripts -->

    <script src="{{ url_for('static', filename='admin/js/app.js')}}"></script>
