    <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.index')}}"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin.people_say')}}"><i class="icon-emotsmile"></i> People Say</a>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-settings"></i> Pengaturan</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin.set_website') }}"><i class="icon-puzzle"></i> Website</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin.set_info_website')}}"><i class="icon-puzzle"></i> Info Website</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin.parallax')}}"><i class="icon-puzzle"></i> Parallax</a>
                            </li>                            
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-layers"></i> Activity</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.createActivity')}}"><i class="icon-pencil"></i> Tulis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.semuaActivity')}}"><i class="icon-docs"></i> Lihat Semua</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.activityTerbit')}}"><i class="icon-doc"></i> Diterbitkan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.kategoriActivity')}}"><i class="icon-shuffle"></i> Kategori</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i> Berita</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.createBerita')}}"><i class="icon-pencil"></i> Tulis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.semuaBerita')}}"><i class="icon-docs"></i> Lihat Semua</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.beritaTerbit')}}"><i class="icon-doc"></i> Diterbitkan</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{url_for('admin.kategoriBerita')}}"><i class="icon-shuffle"></i> Kategori</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>