.my-header{
    background-color: #21b96b;
    padding: 20px;
}

.my-white{
    color: white;
}

.my-green{
    color: #21b96b;
}

.rapet{
    margin: 0px;
}

.my-text{
    font-size: 30px;
    text-align: center;
    line-height: 42px;
    font-weight: lighter;
}

.my-text-parallax{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 82px;
    color: #fff;
    text-transform: none;
    margin-top: 0;
    line-height: 100px;
    margin-bottom: 13px;
}

.my-bottom-line{
    margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 0px;
    height: 3px;
    width: 40px;
    background-color: #21b96b;
}

.my-btn-round{
    border-radius: 22.5px;
    color: #21b96b;
	border-color: #21b96b;
}

.my-image-banner{
    border-style: solid;
    border-width: 2px;
    border-color: #21b96b;
}

.highlight-dark {
    background-color: rgba(0,0,0,.5);
    padding: 20px;
    display: inline-block;
    color: #fff;
}

.big-heading {
    font-size: 48px;
    font-weight: 700;
}

.blog-img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.blog-img img {
    width: 100%;
    opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.service-item, .blog-sec, .wrap-item, .loction-info {
    margin-bottom: 15px;
}

.bg-testicolor {
    background-color: RGBA(73, 84, 105, 0.61);
    min-height: 390px;
}

.section-padding {
    padding: 60px 0px;
}

.testimonial-item {
    background: url(../img/bg.jpg) no-repeat;
    background-image: url(../img/bg.jpg);
    background-position-x: initial;
    background-position-y: initial;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
    min-height: 390px;
}

.bg-testicolor {
    background-color: RGBA(73, 84, 105, 0.61);
    min-height: 390px;
}

.bx-wrapper {
    margin: 0 auto 35px;
}

.bx-viewport {
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    border: 5px solid #fff;
    left: -5px;
    background: #fff;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.my-ul {
    list-style: none;
}

.my-quote-block{
    background-color: RGBA(73, 84, 105, 0.61);
    min-height: 450px;
    max-height: 450px;
}

.my-quote{
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    min-height: 450px;
    max-height: 450px;
}

.text-quote{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.my-text-center {
    background: #21b96b;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

.my-misi{
    background-color: white; 
    border-color: white; 
    font-family: 'Open Sans', 
    Arial, sans-serif; 
    font-size: 14px;	
    font-weight: 300;	
    line-height: 1.6em;	
    color: #656565;
}
