<!DOCTYPE html>
<html lang="en">
<head>
{% include 'base/head.html' %}
<body>


<div id="wrapper">
	<!-- start header -->
	{% include 'base/header.html' %}
	<!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li><a href="#">Features</a><i class="icon-angle-right"></i></li>
					<li class="active">404 Not found</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center">
				<h2 class="error">404</h2>
				<p class="lead">Sorry your requested page not exist</p>
				</div>
		</div>
		</div>
	</div>
	</section>

	{% include 'base/footer.html' %}
	
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include 'base/js.html' %}


</body>
</html>