<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/base/head.html' %}
    <title>Pengaturan - Admin Imara</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'admin/base/header.html' %}
    <div class="app-body">
        {% include 'admin/base/sidebar.html' %}
        
        <!-- Main content -->
        <main class="main">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('admin.index')}}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('admin.people_say')}}">People Say</a></li>
                <li class="breadcrumb-item active">Edit Data</li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-plus"></i>Edit Data
                                </div>
                                <div class="card-block">
                                    <form action="{{ url_for('admin.edit_people_say', id=data_form['id']) }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert alert-success text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                            <div class="alert alert-danger text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="nama"> Nama</label>
                                            <div class="col-md-9">
                                                <input type="text" id="nama" name="nama" class="form-control" value="{{data_form['nama']}}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="jabatan">Jabatan</label>
                                            <div class="col-md-9">
                                                <input type="text" id="jabatan" name="jabatan" class="form-control" value="{{data_form['jabatan']}}">
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="quote">Quote</label>
                                            <div class="col-md-9">
                                                <textarea id="quote" name="quote" rows="9" class="form-control" placeholder="Quote..">{{data_form['quote']}}</textarea>
                                            </div>
                                        </div>                                   
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="foto"> Foto</label>
                                            <div class="col-md-4">
                                                <input type="file" id="foto" name="foto" accept="image/*" onchange="loadFoto(event)">
                                                <br><br>
                                                {% if data_form['show_quote'] == 1 %}
                                                <input type="radio" name="show" value="1" checked>Show
                                                <input type="radio" name="show" value="0">Not Show
                                                {% else %}
                                                <input type="radio" name="show" value="1">Show
                                                <input type="radio" name="show" value="0" checked>Not Show
                                                {% endif %}
                                                <br> <br>                                               
                                                <button id="btn_simpan" type="submit" class="btn btn-primary">Simpan</button>
                                            </div>
                                            <div class="col-md-5">
                                                <p class="text-center"><img id="show-foto" src="{{data_form['foto']}}" style="max-height: 150px; max-width: 150px"></p>
                                            </div>  
                                        </div>                                      
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    {% include 'admin/base/footer.html' %}
    {% include 'admin/base/js.html' %}    
    <script>
    var loadFoto = function(event){
        var lihatFoto = document.getElementById('show-foto');
        lihatFoto.src = URL.createObjectURL($('#foto')[0].files[0]);
    }
    </script>
</body>
</html>