<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/base/head.html' %}
    <title>Pengaturan - Admin Imara</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'admin/base/header.html' %}
    <div class="app-body">
        {% include 'admin/base/sidebar.html' %}
        
        <!-- Main content -->
        <main class="main">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">People Say</li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="{{url_for('admin.kategoriActivity')}}" method="GET">
                                <div class="card">
                                    <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Data
                                    <a href="#" style="color: black;" class="pull-right" data-toggle="modal" data-target="#tambah"><i class="fa fa-plus"></i> Tambah Data</a>
                                    </div>
                                    <div class="card-block">
                                    <div class="form-group row">
                                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                            <div class="col-lg-12">
                                                <div class="alert alert-success text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith %}

                                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                            <div class="col-lg-12">
                                                <div class="alert alert-danger text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        
                                        <div class="col-sm-6">
                                        <label class="form-control-label" for="pagesize">Jumlah Baris</label> 
                                        <div class="input-group">                         
                                            <select name="pagesizeIndex" id="pagesize" class="form-control">
                                            {% for size in dataTable['pagesizes'] %}
                                            {% if size == dataTable['pagesize'] %}
                                            <option value="{{loop.index}}" selected>{{ size }}</option>
                                            {% else %}
                                            <option value="{{loop.index}}">{{ size }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </select>
                                            <input type="hidden" name="currentpage" id="currentpage" value="{{dataTable['currentpage']}}">
                                            <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" onclick="pagination(2)">Ok</button>
                                            </span>                                                                            
                                        </div>                        
                                        </div>                     
                                        
                                        <div class="col-sm-6">
                                        <label class="form-control-label" for="appendedInputButton">Cari</label>
                                        <div class="controls">
                                            <div class="input-group">
                                            <input id="appendedInputButton" name="search" class="form-control" size="16" type="text" value="{{key}}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                            </span>
                                            </div>
                                        </div>                      
                                        </div>          
                                    </div>        
                                    <table class="table table-bordered table-striped table-sm table-responsive">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Nama Kategori</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if dataTable['status'] == "Ok" %}
                                            {% for d in dataTable['results'] %}
                                            <tr>
                                            <td>{{ dataTable['row_number'][loop.index] }}</td>
                                            <td>{{ d[1] }}</td>
                                            <td>
                                                &nbsp
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit{{dataTable['row_number'][loop.index]}}"><i class="fa fa-pencil"></i></button>
                                                &nbsp
                                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#hapus{{dataTable['row_number'][loop.index]}}"><i class="fa fa-trash"></i></button>
                                            </td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                            <td colspan="6" align="center"><h5><b>Data Tidak Ditemukan</b></h5></td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    <nav>
                                        {% if dataTable['status'] == "Ok" %}
                                        <label class="form-control-label">Halaman ke-<b id="currentpage">{{ dataTable['currentpage'] }}</b> dari <b id="pagenumber">{{ dataTable['pagenumber'] }}</b> Halaman</label>
                                        <ul class="pagination">
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] <= 1 %}
                                            <button onclick="pagination(2)" class="btn page-link btn-link" disabled><i class="fa fa-angle-double-left"></i></button>
                                            {% else %}
                                            <button onclick="pagination(2)" class="btn page-link btn-link"><i class="fa fa-angle-double-left"></i></button>
                                            {% endif %}
                                        </li>
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] <= 1 %}
                                            <button onclick="pagination(0)" class="btn page-link btn-link" disabled><i class="fa fa-angle-left"></i></button>
                                            {% else %}
                                            <button onclick="pagination(0)" class="btn page-link btn-link"><i class="fa fa-angle-left"></i></button>
                                            {% endif %}
                                        </li>
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] >= dataTable['pagenumber'] %}
                                            <button onclick="pagination(1)" class="btn page-link btn-link" disabled><i class="fa fa-angle-right"></i></button>
                                            {% else %}
                                            <button onclick="pagination(1)" class="btn page-link btn-link"><i class="fa fa-angle-right"></i></button>
                                            {% endif %}
                                        </li>
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] >= dataTable['pagenumber'] %}
                                            <button onclick="pagination(3)" class="btn page-link btn-link" disabled><i class="fa fa-angle-double-right"></i></button>
                                            {% else %}
                                            <button onclick="pagination(3)" class="btn page-link btn-link"><i class="fa fa-angle-double-right"></i></button>
                                            {% endif %}
                                        </li>
                                        </ul>
                                        {% else %}
                                        {% endif %}
                                    </nav>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="tambah" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-primary" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Tambah Data</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <form action="{{url_for('admin.tambahKategoriActivity')}}" method="POST">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="nama">Nama Kategori</label>
                                        <input type="text" class="form-control" name="nama" id="nama" placeholder="Nama Kategori">
                                    </div>
                                </div>
                                <div class="modal-footer">                           
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-primary">Simpan</button>
                                </div>
                            </form>                                
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                {% if dataTable['status'] == "Ok" %}
                {% for d in dataTable['results'] %}
                    <div class="modal fade" id="hapus{{dataTable['row_number'][loop.index]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-danger" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Hapus Data</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Hapus Data No <b>{{dataTable['row_number'][loop.index]}}</b>, Nama <b>{{d[1]}}</b>?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="{{url_for('admin.hapusKategoriActivity')}}" method="POST">
                                        <input type="hidden" name="id" value="{{d[0]}}">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                    <div class="modal fade" id="edit{{dataTable['row_number'][loop.index]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-primary" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Data</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <form action="{{url_for('admin.editKategoriActivity')}}" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="nama">Nama Kategori</label>
                                            <input type="text" class="form-control" name="nama" id="nama" value="{{d[1]}}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">                                    
                                        <input type="hidden" name="id" value="{{d[0]}}">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-primary">Edit</button>
                                    </div>
                                </form>                                
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                {% endfor %}
                {% endif %} 
                <!-- end modal-dialog -->               
            </div>
        </main>
    </div>
    
    {% include 'admin/base/footer.html' %}
    {% include 'admin/base/js.html' %}
    <script>
    function pagination(no){
        var currentpage = document.getElementById('currentpage').value;
        if (no == 0){
        $('#currentpage')[0].value = parseInt(currentpage) - 1;
        }else if (no == 1){
        $('#currentpage')[0].value = parseInt(currentpage) + 1;
        }else if (no == 2){
        $('#currentpage')[0].value = 1;
        }else if (no == 3){
        $('#currentpage')[0].value = document.getElementById('pagenumber').innerHTML;
        }    
    }
    </script>   
    
</body>
</html>