<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/base/head.html' %}
    <title>Pengaturan - Admin Imara</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'admin/base/header.html' %}
    <div class="app-body">
        {% include 'admin/base/sidebar.html' %}
        
        <!-- Main content -->
        <main class="main">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">People Say</li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="{{url_for('admin.semuaActivity')}}" method="GET">
                                <div class="card">
                                    <div class="card-header">
                                    <i class="fa fa-align-justify"></i> Data
                                    <a href="#" class="pull-right" style="color: black;"><i class="fa fa-plus"></i> Tambah Data</a>
                                    </div>
                                    <div class="card-block">
                                    <div class="form-group row">
                                        {% with messages = get_flashed_messages(category_filter=["success"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                            <div class="col-lg-12">
                                                <div class="alert alert-success text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith %}

                                        {% with messages = get_flashed_messages(category_filter=["error"]) %}
                                        {% if messages %}
                                            {% for message in messages %}
                                            <div class="col-lg-12">
                                                <div class="alert alert-danger text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% endwith %}
                                        
                                        <div class="col-sm-6">
                                        <label class="form-control-label" for="pagesize">Jumlah Baris</label> 
                                        <div class="input-group">                         
                                            <select name="pagesizeIndex" id="pagesize" class="form-control">
                                            {% for size in dataTable['pagesizes'] %}
                                            {% if size == dataTable['pagesize'] %}
                                            <option value="{{loop.index}}" selected>{{ size }}</option>
                                            {% else %}
                                            <option value="{{loop.index}}">{{ size }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            </select>
                                            <input type="hidden" name="currentpage" id="currentpage" value="{{dataTable['currentpage']}}">
                                            <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" onclick="pagination(2)">Ok</button>
                                            </span>                                                                            
                                        </div>                        
                                        </div>                     
                                        
                                        <div class="col-sm-6">
                                        <label class="form-control-label" for="appendedInputButton">Cari</label>
                                        <div class="controls">
                                            <div class="input-group">
                                            <input id="appendedInputButton" name="search" class="form-control" size="16" type="text" value="{{key}}">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                                            </span>
                                            </div>
                                        </div>                      
                                        </div>          
                                    </div>        
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Judul</th>
                                            <th>Created</th>
                                            <th>Publish</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if dataTable['status'] == "Ok" %}
                                            {% for d in dataActivity %}
                                            <tr>
                                            <td>{{ dataTable['row_number'][loop.index] }}</td>
                                            <td>
                                                <h4>{{ d['judul'] }}</h4>
                                                <p><a href="#">Lihat</a> | <a href="{{url_for('admin.updateActivity', token=d['token'])}}">Edit</a> | <a href="#" data-toggle="modal" data-target="#{{dataTable['row_number'][loop.index]}}">Hapus</a></p>
                                            </td>
                                            <td>{{ d['created'] }}</td>
                                            <td>
                                                {% if d['publish'] == 1 %}
                                                <span class="badge badge-success">Show</span>
                                                {% else %}
                                                <span class="badge badge-danger">Not Show</span>
                                                {% endif %}
                                            </td>
                                            </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                            <td colspan="6" align="center"><h5><b>Data Tidak Ditemukan</b></h5></td>
                                            </tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                    <nav>
                                        {% if dataTable['status'] == "Ok" %}
                                        <label class="form-control-label">Halaman ke-<b id="currentpage">{{ dataTable['currentpage'] }}</b> dari <b id="pagenumber">{{ dataTable['pagenumber'] }}</b> Halaman</label>
                                        <ul class="pagination">
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] <= 1 %}
                                            <button onclick="pagination(2)" class="btn page-link btn-link" disabled><i class="fa fa-angle-double-left"></i></button>
                                            {% else %}
                                            <button onclick="pagination(2)" class="btn page-link btn-link"><i class="fa fa-angle-double-left"></i></button>
                                            {% endif %}
                                        </li>
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] <= 1 %}
                                            <button onclick="pagination(0)" class="btn page-link btn-link" disabled><i class="fa fa-angle-left"></i></button>
                                            {% else %}
                                            <button onclick="pagination(0)" class="btn page-link btn-link"><i class="fa fa-angle-left"></i></button>
                                            {% endif %}
                                        </li>
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] >= dataTable['pagenumber'] %}
                                            <button onclick="pagination(1)" class="btn page-link btn-link" disabled><i class="fa fa-angle-right"></i></button>
                                            {% else %}
                                            <button onclick="pagination(1)" class="btn page-link btn-link"><i class="fa fa-angle-right"></i></button>
                                            {% endif %}
                                        </li>
                                        <li class="page-item">
                                            {% if dataTable['currentpage'] >= dataTable['pagenumber'] %}
                                            <button onclick="pagination(3)" class="btn page-link btn-link" disabled><i class="fa fa-angle-double-right"></i></button>
                                            {% else %}
                                            <button onclick="pagination(3)" class="btn page-link btn-link"><i class="fa fa-angle-double-right"></i></button>
                                            {% endif %}
                                        </li>
                                        </ul>
                                        {% else %}
                                        {% endif %}
                                    </nav>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                {% if dataTable['status'] == "Ok" %}
                {% for d in dataActivity %}
                    <div class="modal fade" id="{{dataTable['row_number'][loop.index]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-danger" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Hapus Data</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Hapus Data No <b>{{dataTable['row_number'][loop.index]}}</b>, Judul <b>{{d['judul']}}</b>?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="{{url_for('admin.hapusActivity')}}" method="POST">
                                        <input type="hidden" name="token" value="{{d['token']}}">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>                                    
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                {% endfor %}
                {% endif %} 
                <!-- end modal-dialog -->               
            </div>
        </main>
    </div>
    
    {% include 'admin/base/footer.html' %}
    {% include 'admin/base/js.html' %}
    <script>
    function pagination(no){
        var currentpage = document.getElementById('currentpage').value;
        if (no == 0){
        $('#currentpage')[0].value = parseInt(currentpage) - 1;
        }else if (no == 1){
        $('#currentpage')[0].value = parseInt(currentpage) + 1;
        }else if (no == 2){
        $('#currentpage')[0].value = 1;
        }else if (no == 3){
        $('#currentpage')[0].value = document.getElementById('pagenumber').innerHTML;
        }    
    }
    </script>   
    
</body>
</html>