<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/base/head.html' %}
    <title>Pengaturan - Admin Imara</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'admin/base/header.html' %}
    <div class="app-body">
        {% include 'admin/base/sidebar.html' %}
        
        <!-- Main content -->
        <main class="main">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Pengaturan</li>
                <li class="breadcrumb-item active">Website</li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <i class="fa fa-edit"></i>Form Pengaturan Website
                                </div>
                                <div class="card-block">
                                    <form action="{{ url_for('admin.set_website') }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                        <div id="saveAlert">

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input"><i class="fa fa-institution"></i> Nama</label>
                                            <div class="col-md-9">
                                                <input type="text" id="nama_web" name="nama_web" class="form-control" value="{{data['nama_web']}}">
                                                <span class="help-block">Nama Instansi pada Website</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input"><i class="fa fa-map-marker"></i> Alamat</label>
                                            <div class="col-md-9">
                                                <input type="text" id="alamat" name="alamat" class="form-control" value="{{data['alamat']}}">
                                                <span class="help-block">Alamat Instansi pada Website</span>
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input"><i class="fa fa-mobile-phone"></i> Hanphone</label>
                                            <div class="col-md-9">
                                                <input type="text" id="phone" name="phone" class="form-control" value="{{data['phone']}}">
                                                <span class="help-block">Nomor Handphone Instansi pada Website</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="text-input"><i class="fa fa-phone-square"></i> Telepon</label>
                                            <div class="col-md-9">
                                                <input type="text" id="telepon" name="telepon" class="form-control" value="{{data['telepon']}}">
                                                <span class="help-block">Nomor Telepon Instansi pada Website</span>
                                            </div>
                                        </div>                                            
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="email"><i class="fa fa-envelope-square"></i> Email</label>
                                            <div class="col-md-9">
                                                <input type="email" id="email" name="email" class="form-control" value="{{data['email']}}">
                                                <span class="help-block">Email Instansi pada Website</span>
                                            </div>
                                        </div> 
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="facebook"><i class="fa fa-facebook-square"></i> Facebook</label>
                                            <div class="col-md-9">
                                                <input type="text" id="facebook" name="facebook" class="form-control" value="{{data['facebook']}}">
                                                <span class="help-block">Username Facebook Instansi pada Website</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="twitter"><i class="fa fa-twitter-square"></i> Twitter</label>
                                            <div class="col-md-9">
                                                <input type="text" id="twitter" name="twitter" class="form-control" value="{{data['twitter']}}">
                                                <span class="help-block">Username Twitter Instansi pada Website</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="instagram"><i class="fa fa-instagram"></i> Instagram</label>
                                            <div class="col-md-9">
                                                <input type="test" id="instagram" name="instagram" class="form-control" value="{{data['instagram']}}">
                                                <span class="help-block">Username Instagram Instansi pada Website</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="path"><i class="fa fa-pinterest"></i> Path</label>
                                            <div class="col-md-9">
                                                <input type="text" id="path" name="path" class="form-control" value="{{data['path']}}">
                                                <span class="help-block">Username Path Instansi pada Website</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="linkedin"><i class="fa fa-linkedin-square"></i> linkedin</label>
                                            <div class="col-md-9">
                                                <input type="text" id="linkedin" name="linkedin" class="form-control" value="{{data['linkedin']}}">
                                                <span class="help-block">Username linkedin Instansi pada Website</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="google_plus"><i class="fa fa-google-plus-square"></i> Google Plus</label>
                                            <div class="col-md-9">
                                                <input type="text" id="google_plus" name="google_plus" class="form-control" value="{{data['google_plus']}}">
                                                <span class="help-block">Username Google Plus Instansi pada Website</span>
                                            </div>
                                        </div>    
                                        <div id="logoAlert">
                                            
                                        </div>                                   
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="file-input"><i class="fa fa-photo"></i> Logo</label>
                                            <div class="col-md-4">
                                                <input type="file" id="logo_web" name="logo_web" accept="image/*" onchange="loadLogo(event)">
                                            </div>
                                            <div class="col-md-5">
                                                <p class="text-center"><img id="logo-image" src="{{data['logo_web']}}"  class="img-fluid img-thumbnail" style="height:auto; max-width: 100%; margin-top: 20px"></p>
                                            </div>
                                        </div> 
                                        <div id="iconAlert">

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="file-input"><i class="fa fa-photo"></i> Icon</label>
                                            <div class="col-md-4">
                                                <input type="file" id="icon_web" name="icon_web" accept="mage/*" onchange="loadIcon(event)">
                                            </div>
                                            <div class="col-md-5">
                                                <p class="text-center"><img id="icon-image" src="{{data['icon_web']}}"  class="img-fluid img-thumbnail" style="height:auto; max-width: 100%; margin-top: 20px"></p>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <button id="btn_simpan" type="button" class="btn btn-primary" onclick="settingWeb()">Simpan Perubahan</button>
                                        </div>                                       
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    {% include 'admin/base/footer.html' %}
    {% include 'admin/base/js.html' %}
    <script>
    function settingWeb(){
        var dataForm = new FormData();
        var nama_web = document.getElementById('nama_web');
        var alamat = document.getElementById('alamat');
        var phone = document.getElementById('phone');
        var telepon = document.getElementById('telepon');
        var email = document.getElementById('email')
        var facebook = document.getElementById('facebook');
        var twitter = document.getElementById('twitter');
        var instagram = document.getElementById('instagram');
        var path = document.getElementById('path');
        var linkedin = document.getElementById('linkedin');
        var google_plus = document.getElementById('google_plus');

        dataForm.append('nama_web', (nama_web.value == '' || nama_web.value.length == 0) ? '':nama_web.value);
        dataForm.append('alamat', (alamat.value == '' || alamat.value.length == 0) ? '':alamat.value);
        dataForm.append('phone', (phone.value == '' || phone.value.length == 0) ? '':phone.value);
        dataForm.append('telepon', (telepon.value == '' || telepon.value.length == 0) ? '':telepon.value);
        dataForm.append('email', (email.value == '' || email.value.length == 0) ? '':email.value);
        dataForm.append('facebook', (facebook.value == '' || facebook.value.length == 0) ? '':facebook.value);
        dataForm.append('twitter', (twitter.value == '' || twitter.value.length == 0) ? '':twitter.value);
        dataForm.append('instagram', (instagram.value == '' || instagram.value.length == 0) ? '':instagram.value);
        dataForm.append('path', (path.value == '' || path.value.length == 0) ? '':path.value);
        dataForm.append('linkedin', (linkedin.value == '' || linkedin.value.length == 0) ? '':linkedin.value);
        dataForm.append('google_plus', (google_plus.value == '' || google_plus.value.length == 0) ? '':google_plus.value);

        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });

        $('#btn_simpan').html('Menyimpan...')

        $.ajax({
            url: "{{url_for('admin.set_website')}}",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                if (data.res == 'berhasil') {
                    $('#saveAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Data Berhasil di Perbarui</div>');
                } else {
                    $('#saveAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Data Tidak Berhasil di Perbarui</div>');
                }
                $('#btn_simpan').html('Simpan Perubahan');
            }
        })
    }    
    </script>
    <script>
    var loadIcon = function(event){
        var dataForm = new FormData();
        var viewImage = document.getElementById('icon-image');
        viewImage.src = '{{url_for('static', filename='img/cbp-loading-popup.gif')}}';

        dataForm.append('icon', $('#icon_web')[0].files[0]);

        $.ajax({
            url:"{{url_for('admin.upload_icon')}}",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData:false,
            success: function(data){
                console.log(data);                
                if (data.res == 'berhasil') {                    
                    $('#iconAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!</strong> Gambar Icon Berhasil Diperbarui!</div>');
                    viewImage.src = URL.createObjectURL(event.target.files[0]);
                } else {
                    $('#iconAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!</strong> Gambar Logo Icon Diperbarui!</div>');
                }
            }
        });
    };
    </script>
    <script>
    var loadLogo = function(event){
        var dataForm = new FormData();
        var viewImage = document.getElementById('logo-image');
        viewImage.src = '{{url_for('static', filename='img/cbp-loading-popup.gif')}}';

        dataForm.append('logo', $('#logo_web')[0].files[0]);

        $.ajax({
            url:"{{url_for('admin.upload_logo')}}",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData:false,
            success: function(data){
                console.log(data);                
                if (data.res == 'berhasil') {                    
                    $('#logoAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Gambar Logo Berhasil Diperbarui!</div>');
                    viewImage.src = URL.createObjectURL(event.target.files[0]);
                } else {
                    $('#logoAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Gambar Logo Gagal Diperbarui!</div>');
                }
            }
        });
    };
    </script>
    
</body>
</html>