<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/base/head.html' %}
    <title>Pengaturan - Admin Imara</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'admin/base/header.html' %}
    <div class="app-body">
        {% include 'admin/base/sidebar.html' %}
        
        <!-- Main content -->
        <main class="main">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Pengaturan</li>
                <li class="breadcrumb-item active">Info Website</li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#about" role="tab" aria-controls="abuot">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#latarBelakang" role="tab" aria-controls="latarBelakang">Latar Belakang</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tentangKami" role="tab" aria-controls="tentangKami">Tentang Kami</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#visiMisi" role="tab" aria-controls="visiMisi">Visi & Misi</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="about" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="aboutAlert">

                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <textarea id="about-input" name="about" rows="9" class="form-control" placeholder="Content..">{{data['about']}}</textarea>
                                                    <span class="help-block">dlashdla lasjblas lajssljd</span>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button id="btn_simpan_about" type="button" class="btn btn-primary" onclick="settingAbout()">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="latarBelakang" role="tabpanel">
                                    <div class="col-lg-12">
                                        <div id="latarBelakangAlert">

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="latar_belakang">Content</label>
                                            <div class="col-md-9">
                                                <textarea id="latar_belakang" name="latar_belakang" rows="9" class="form-control" placeholder="Content..">{{data['content_latar_belakang']}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="cover_latar_belakang">Cover</label>
                                            <div class="col-md-4">
                                                <input type="file" id="cover_latar_belakang" name="cover_latar_belakang" accept="image/*" onchange="loadCoverLatarBelakang(event)">
                                                <br>
                                                <br>
                                                <button id="btn_simpan_latar_belakang" type="button" class="btn btn-primary" onclick="settingLatarBelakang()">Simpan</button>
                                            </div>
                                            <div class="col-md-5">
                                                <p class="text-center"><img id="cover-latar-belakang" src="{{data['cover_latar_belakang']}}" class="img-fluid img-thumbnail" style="height:auto; max-width: 100%; margin-top: 20px"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tentangKami" role="tabpanel">
                                    <div class="col-lg-12">
                                        <div id="tentangKamiAlert">

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="latar_belakang">Content</label>
                                            <div class="col-md-9">
                                                <textarea id="tentang_kami" name="tentang_kami" rows="9" class="form-control" placeholder="Content..">{{data['content_tentang_kami']}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="cover_tentang_kami">Cover</label>
                                            <div class="col-md-4">
                                                <input type="file" id="cover_tentang_kami" name="cover_tentang_kami" accept="image/*" onchange="loadCoverTentangKami(event)">
                                                <br>
                                                <br>
                                                <button id="btn_simpan_tentang_kami" type="button" class="btn btn-primary" onclick="settingTentangKami()">Simpan</button>
                                            </div>
                                            <div class="col-md-5">
                                                <p class="text-center"><img id="cover-tentang-kami" src="{{data['cover_tentang_kami']}}" class="img-fluid img-thumbnail" style="height:auto; max-width: 100%; margin-top: 20px"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="visiMisi" role="tabpanel">
                                    <div class="col-lg-12">
                                        <div id="vimiAlert">

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="visi">Visi</label>
                                            <div class="col-md-9">
                                                <textarea id="visi" name="visi" rows="9" class="form-control" placeholder="Content..">{{data['visi']}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="misi">Misi</label>
                                            <div class="col-md-9">
                                                <textarea id="misi" name="misi" rows="9" class="form-control" placeholder="Content..">{{data['misi']}}</textarea>
                                                <br>
                                                <button id="btn_simpan_vimi" type="button" class="btn btn-primary" onclick="settingVimi()">Simpan</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    {% include 'admin/base/footer.html' %}
    {% include 'admin/base/js.html' %}
    <script>
    function settingAbout(){
        var dataForm = new FormData();
        var about = document.getElementById('about-input');
        console.log(about.value);
        dataForm.append('about', (about.value == '' || about.value.length == 0) ? '':about.value);        
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        $('#btn_simpan_about').html('Menyimpan...');
        $.ajax({
            url: "/admin/pengaturan/info-website/about",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                if (data.res == 'berhasil') {
                    $('#aboutAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Data Berhasil di Perbarui</div>');
                } else {
                    $('#aboutAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Data Tidak Berhasil di Perbarui</div>');
                }
                $('#btn_simpan_about').html('Simpan');
            }
        })
    }    
    </script>
    <script>
    function settingVimi(){
        var dataForm = new FormData();
        var visi = document.getElementById('visi');
        var misi = document.getElementById('misi');
        dataForm.append('visi', (visi.value == '' || visi.value.length == 0) ? '':visi.value);
        dataForm.append('misi', (misi.value == '' || misi.value.length == 0) ? '':misi.value);        
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        $('#btn_simpan_vimi').html('Menyimpan...');
        $.ajax({
            url: "/admin/pengaturan/info-website/visi-misi",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                if (data.res == 'berhasil') {
                    $('#vimiAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Data Berhasil di Perbarui</div>');
                } else {
                    $('#vimiAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Data Tidak Berhasil di Perbarui</div>');
                }
                $('#btn_simpan_vimi').html('Simpan');
            }
        });
    }
    </script>
    <script>
    function settingLatarBelakang(){
        var dataForm = new FormData();
        var konten = document.getElementById('latar_belakang');
        dataForm.append('konten', (konten.value == '' || konten.value.length == 0) ? '':konten.value);       
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        $('#btn_simpan_latar_belakang').html('Menyimpan...');
        $.ajax({
            url: "/admin/pengaturan/info-website/setContentLatarBelakang",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                if (data.res == 'berhasil') {
                    $('#latarBelakangAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Konten Latar Belakang Diperbarui.</div>');
                } else {
                    $('#latarBelakangAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Konten Latar Belakang Gagal Diperbarui.</div>');
                }
                $('#btn_simpan_latar_belakang').html('Simpan');
            }
        });
    }
    </script>
    <script>
    var loadCoverLatarBelakang = function(event){
        var dataForm = new FormData();
        var viewImage = document.getElementById('cover-latar-belakang');
        viewImage.src = '/static/img/cbp-loading-popup.gif';

        dataForm.append('image', $('#cover_latar_belakang')[0].files[0]);

        $.ajax({
            url:"/admin/pengaturan/website/uploadCoverLatarBelakang",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData:false,
            success: function(data){
                console.log(data);                
                if (data.res == 'berhasil') {                    
                    $('#latarBelakangAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!</strong> Gambar Icon Berhasil Diperbarui!</div>');
                    viewImage.src = URL.createObjectURL(event.target.files[0]);
                } else {
                    $('#latarBelakangAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!</strong> Gambar Logo Icon Diperbarui!</div>');
                }
            }
        });
    };
    </script>
    <script>
    function settingTentangKami(){
        var dataForm = new FormData();
        var konten = document.getElementById('tentang_kami');
        dataForm.append('konten', (konten.value == '' || konten.value.length == 0) ? '':konten.value);       
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        $('#btn_simpan_tentang_kami').html('Menyimpan...');
        $.ajax({
            url: "/admin/pengaturan/info-website/setContentTentangKami",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                if (data.res == 'berhasil') {
                    $('#tentangKamiAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Konten Tentang Kami Diperbarui.</div>');
                } else {
                    $('#tentangKamiAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Konten Tentang Kami Gagal Diperbarui.</div>');
                }
                $('#btn_simpan_tentang_kami').html('Simpan');
            }
        });
    }
    </script>
    <script>
    var loadCoverTentangKami = function(event){
        var dataForm = new FormData();
        var viewImage = document.getElementById('cover-tentang-kami');
        viewImage.src = '/static/img/cbp-loading-popup.gif';

        dataForm.append('image', $('#cover_tentang_kami')[0].files[0]);

        $.ajax({
            url:"/admin/pengaturan/website/uploadCoverTentangKami",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData:false,
            success: function(data){
                console.log(data);                
                if (data.res == 'berhasil') {                    
                    $('#tentangKamiAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!</strong> Cover Tentang Kami Diperbarui!</div>');
                    viewImage.src = URL.createObjectURL(event.target.files[0]);
                } else {
                    $('#tentangKamiAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!</strong> Cover Gagal Tentang Kami Diperbarui!</div>');
                }
            }
        });
    };
    </script>
</body>
</html>