<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/base/head.html' %}
    <title>Pengaturan - Admin Imara</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'admin/base/header.html' %}
    <div class="app-body">
        {% include 'admin/base/sidebar.html' %}
        
        <!-- Main content -->
        <main class="main">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Pengaturan</li>
                <li class="breadcrumb-item active">Parallaxs</li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#parallax1" role="tab" aria-controls="parallax1">Parallax 1</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#parallax2" role="tab" aria-controls="parallax2">Parallax 2</a>
                                </li>
                            </ul>

                            <div class="tab-content">                                
                                <div class="tab-pane active" id="parallax1" role="tabpanel">
                                    <div class="col-lg-12">
                                        <div id="parallaxAlert1">

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="main_text1"></i> Main Text</label>
                                            <div class="col-md-9">
                                                <input type="text" id="main_text1" name="main_text1" class="form-control" value="{{data['parallax_main_text1']}}">
                                                <span class="help-block">....</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="latar_belakang">Mini Text</label>
                                            <div class="col-md-9">
                                                <textarea id="mini_text1" name="mini_text1" rows="9" class="form-control" placeholder="Content..">{{data['parallax_mini_text1']}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="photo1">Photo</label>
                                            <div class="col-md-4">
                                                <input type="file" id="photo1" name="photo1" accept="image/*" onchange="loadPhoto1(event)">
                                                <br>
                                                <br>
                                                <button id="btn_simpan1" type="button" class="btn btn-primary" onclick="parallax1()">Simpan</button>
                                            </div>
                                            <div class="col-md-5">
                                                <p class="text-center"><img id="show-photo1" src="{{data['parallax_photo1']}}"  class="img-fluid img-thumbnail" style="height:auto; max-width: 100%; margin-top: 20px" ></p>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div> 
                                <div class="tab-pane" id="parallax2" role="tabpanel">
                                    <div class="col-lg-12">
                                        <div id="parallaxAlert2">

                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="main_text2"></i> Main Text</label>
                                            <div class="col-md-9">
                                                <input type="text" id="main_text2" name="main_text2" class="form-control" value="{{data['parallax_main_text2']}}">
                                                <span class="help-block">....</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="latar_belakang">Mini Text</label>
                                            <div class="col-md-9">
                                                <textarea id="mini_text2" name="mini_text2" rows="9" class="form-control" placeholder="Content..">{{data['parallax_mini_text2']}}</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label" for="photo2">Photo</label>
                                            <div class="col-md-4">
                                                <input type="file" id="photo2" name="photo2" accept="image/*" onchange="loadPhoto2(event)">
                                                <br>
                                                <br>
                                                <button id="btn_simpan2" type="button" class="btn btn-primary" onclick="parallax2()">Simpan</button>
                                            </div>
                                            <div class="col-md-5">
                                                <p class="text-center"><img id="show-photo2" src="{{data['parallax_photo2']}}" class="img-fluid img-thumbnail" style="height:auto; max-width: 100%; margin-top: 20px" ></p>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>                                                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    {% include 'admin/base/footer.html' %}
    {% include 'admin/base/js.html' %}
    <script>
    function parallax1(){
        var dataForm = new FormData();
        var main_text1 = document.getElementById('main_text1');
        var mini_text1 = document.getElementById('mini_text1');
        dataForm.append('main_text1', (main_text1.value == '' || main_text1.value.length == 0) ? '':main_text1.value);
        dataForm.append('mini_text1', (mini_text1.value == '' || mini_text1.value.length == 0) ? '':mini_text1.value);        
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        $('#btn_simpan1').html('Menyimpan...');
        $.ajax({
            url: "{{url_for('admin.parallax1')}}",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                if (data.res == 'berhasil') {
                    $('#parallaxAlert1').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Parallax 1 Berhasil di Perbarui</div>');
                } else {
                    $('#parallaxAlert1').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Parallax 1 Tidak Berhasil di Perbarui</div>');
                }
                $('#btn_simpan1').html('Simpan');
            }
        });
    }
    </script>
    <script>
    var loadPhoto1 = function(event){
        var dataForm = new FormData();
        var viewImage = document.getElementById('show-photo1');
        viewImage.src = '{{url_for('static', filename='img/cbp-loading-popup.gif')}}';

        dataForm.append('photo1', $('#photo1')[0].files[0]);

        $.ajax({
            url:"{{url_for('admin.upload_photo1')}}",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData:false,
            success: function(data){
                console.log(data);                
                if (data.res == 'berhasil') {                    
                    $('#parallaxAlert1').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!</strong> Gambar Parallax 1 Berhasil Diperbarui!</div>');
                    viewImage.src = URL.createObjectURL(event.target.files[0]);
                } else {
                    $('#parallaxAlert1').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!</strong> Gambar Parallax 1 Gagal Diperbarui!</div>');
                }
            }
        });
    };
    </script> 
    <script>
    function parallax2(){
        var dataForm = new FormData();
        var main_text2 = document.getElementById('main_text2');
        var mini_text2 = document.getElementById('mini_text2');
        dataForm.append('main_text2', (main_text2.value == '' || main_text2.value.length == 0) ? '':main_text2.value);
        dataForm.append('mini_text2', (mini_text2.value == '' || mini_text2.value.length == 0) ? '':mini_text2.value);        
        $.ajaxSetup({
            // Disable caching of AJAX responses
            cache: false
        });
        $('#btn_simpan2').html('Menyimpan...');
        $.ajax({
            url: "{{url_for('admin.parallax2')}}",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data){
                if (data.res == 'berhasil') {
                    $('#parallaxAlert2').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!!</strong> Parallax 2 Berhasil di Perbarui</div>');
                } else {
                    $('#parallaxAlert2').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!!</strong> Parallax 2 Tidak Berhasil di Perbarui</div>');
                }
                $('#btn_simpan2').html('Simpan');
            }
        });
    }
    </script>
    <script>
    var loadPhoto2 = function(event){
        var dataForm = new FormData();
        var viewImage = document.getElementById('show-photo2');
        viewImage.src = '{{url_for('static', filename='img/cbp-loading-popup.gif')}}';

        dataForm.append('photo2', $('#photo2')[0].files[0]);

        $.ajax({
            url:"{{url_for('admin.upload_photo2')}}",
            type: "POST",
            data: dataForm,
            contentType: false,
            cache: false,
            processData:false,
            success: function(data){
                console.log(data);                
                if (data.res == 'berhasil') {                    
                    $('#parallaxAlert2').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!</strong> Gambar Parallax 2 Berhasil Diperbarui!</div>');
                    viewImage.src = URL.createObjectURL(event.target.files[0]);
                } else {
                    $('#parallaxAlert2').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!</strong> Gambar Parallax 2 Gagal Diperbarui!</div>');
                }
            }
        });
    };
    </script>    
</body>
</html>