<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/base/head.html' %}
    <link href="{{url_for('static', filename='admin/css/simplemde.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='admin/css/bootstrap-tagsinput.css')}}" rel="stylesheet">
    <title>Pengaturan - Admin Imara</title>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    {% include 'admin/base/header.html' %}
    <div class="app-body">
        {% include 'admin/base/sidebar.html' %}
        
        <!-- Main content -->
        <main class="main">
            
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">Activity</li>
                <li class="breadcrumb-item active">Update</li>
            </ol>


            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="{{url_for('admin.updateActivity', token=activity['id'])}}" method="POST">
                                <div class="card card-block">
                                    {% with messages = get_flashed_messages(category_filter=["success"]) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-success text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                        {% endfor %}
                                    {%  endif%}
                                    {% endwith %}
                                    {% with messages = get_flashed_messages(category_filter=["error"]) %}
                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-danger text-center alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span> {{ message }} </div>
                                        {% endfor %}
                                    {% endif %}
                                    {% endwith %}
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label text-xs-right"> Judul: </label>
                                        <div class="col-sm-10">
                                            <input name="judul" type="text" class="form-control boxed" placeholder="" value="{{activity['judul']}}"> </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label text-xs-right"> Konten: </label>
                                        <div class="col-md-10">
                                                <textarea name="konten" id="mde-editor" rows="9" class="form-control">{{activity['konten']}}</textarea>
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-sm-2 form-control-label text-xs-right">Tag:</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="tags" name="tags" value="{{activity['tags']}}" data-role="tagsinput"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label text-xs-right"> Kategori: </label>
                                        <div class="col-sm-10">
                                            <select name="id_kategori" class="c-select form-control boxed" required>
                                                <option value="" selected disabled>Pilih Kategori</option>
                                                {% for d in dataKategori %}
                                                {% if d['id'] == activity['id_kategori'] %}
                                                <option value="{{d['id']}}" selected>{{d['nama']}}</option>
                                                {% else %}
                                                <option value="{{d['id']}}">{{d['nama']}}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label text-xs-right"> Gambar Cover: </label>
                                        <div class="col-sm-10">
                                            <div id="coverAlert">

                                            </div>
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="file" id="coverImage" name="imageCover" accept="image/*" onchange="loadCover(event)">
                                                    </div>                                                    
                                                    <div class="col-md-8">
                                                        <p class="text-center"><img class="img-fluid img-thumbnail" style="height:auto; max-width: 100%; margin-top: 20px" id="showCover" src="{{activity['cover_image']}}"></p>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 form-control-label text-xs-right"> Publish: </label>
                                        <div class="col-sm-10">
                                            <label class="switch switch-icon switch-info-outline-alt">
                                                {% if activity['publish'] == 1 %}
                                                <input type="checkbox" class="switch-input" id="checkbox" checked>
                                                {% elif activity['publish'] == 0 %}
                                                <input type="checkbox" class="switch-input" id="checkbox">
                                                {% endif %}
                                                <input type="hidden" name="publish" id="publish" value="{{activity['publish']}}">
                                                <span class="switch-label" data-on="" data-off=""></span>
                                                <span class="switch-handle"></span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input name="token" type="hidden" id="token" value="{{activity['id']}}">
                                            <button type="submit" class="btn btn-primary"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
    {% include 'admin/base/footer.html' %}
    {% include 'admin/base/js.html' %}
    <script src="{{url_for('static', filename='admin/js/simplemde.min.js')}}"></script>  
    <script src="{{url_for('static', filename='admin/js/my-simplemde.js')}}"></script>
    <script src="{{url_for('static', filename='admin/js/bootstrap-tagsinput.min.js')}}"></script>
    <script>
    var loadCover = function(event){
        var dataForm = new FormData();
        var viewCover = document.getElementById('showCover');
        viewCover.src = '{{url_for('static', filename='img/cbp-loading-popup.gif')}}';
        
        dataForm.append('coverImage', $('#coverImage')[0].files[0]);
        dataForm.append('token', "{{activity['id']}}")

        $.ajax({
            url: "{{url_for('admin.uploadCoverActivity')}}",
            type: "POST",
            data: dataForm,
            contentType:false,
            cache: false,
            processData: false,
            success: function(data){
                console.log(data);
                if (data.res == 'berhasil'){
                    $('#coverAlert').html('<div class="alert alert-success text-center alert-dismissable" id="alertBerhasil"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Berhasil!</strong> Cover Berhasil Diperbarui!</div>');
                    viewCover.src = URL.createObjectURL(event.target.files[0]);
                } else {
                    $('#coverAlert').html('<div class="alert alert-danger text-center alert-dismissable" id="alertGagal"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span class="glyphicon glyphicon-info-sign"></span><strong>Gagal!</strong> Cover Gagal Diperbarui!</div>');
                }
            }
        });
    };
    </script>

    <script>
    $(document).ready(function() {
        $('#checkbox').click(function() {
            if($(this).is(":checked")){
                $('#publish')[0].value = '1';
            }else{
                $('#publish')[0].value = '0';
            }
        });
    });
    </script>
    
</body>
</html>