<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					<h4>Alamat</h4>
					<address>
						{{data['alamat']}} </address>
					<p>
						<i class="fa fa-phone"></i><b class="my-green"> {{data['phone']}}</b><br>
						<i class="fa fa-envelope"></i><b class="my-green"> {{data['email']}}</b><br>
					</p>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					<h4>Informasi</h4>
					<ul class="link-list">
						<li><a href="#">Tentang Kami</a></li>
						<li><a href="#">Activity</a></li>
						<li><a href="#">Program</a></li>
						<li><a href="#">Photo Galleri</a></li>
					</ul>
				</div>
				
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					<h4>Link</h4>
					<ul class="link-list">
						<li><a href="#">Campaign</a></li>
						<li><a href="#">Partner</a></li>
						<li><a href="#">Berita</a></li>
						<li><a href="#">Join Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3 col-lg-3">
				<div class="widget">
					<h4>Newsletter</h4>
					<p>Fill your email and sign up for monthly newsletter to keep updated</p>
                    <div class="form-group multiple-form-group input-group">
                        <input type="email" name="email" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-theme btn-add">Subscribe</button>
                        </span>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p class="my-white">&copy; Sailor Theme - All Right Reserved</p>
                        <div class="credits">
                            <!-- 
                                All the links in the footer should remain intact. 
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Sailor
                            -->
                            <p class="my-white"><a href="https://bootstrapmade.com/free-business-bootstrap-themes-website-templates/" class="my-white">Business Bootstrap Themes</a> by <a href="https://bootstrapmade.com/" class="my-white">BootstrapMade</a></p> 
                        </div>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="{{data['facebook']}}" data-placement="top" title="Facebook"><i class="fa fa-facebook-square fa-lg my-white"></i></a></li>
						<li><a href="{{data['twitter']}}" data-placement="top" title="Twitter"><i class="fa fa-twitter-square fa-lg my-white"></i></a></li>
						<li><a href="{{data['instagram']}}" data-placement="top" title="instagram"><i class="fa fa-instagram fa-lg my-white"></i></a></li>
						<li><a href="{{data['linkedin']}}" data-placement="top" title="Linkedin"><i class="fa fa-linkedin-square fa-lg my-white"></i></a></li>
						<li><a href="{{data['path']}}" data-placement="top" title="Pinterest"><i class="fa fa-pinterest-square fa-lg my-white"></i></a></li>
						<li><a href="{{data['google_plus']}}" data-placement="top" title="Google plus"><i class="fa fa-google-plus-square fa-lg my-white"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>