<header>
    <div class="my-header hidden-lg hidden-sm">
        <p class="rapet"><i class="my-white fa fa-map-marker"></i><b class="my-white"> {{data['alamat']}}</b></p>
        <p class="rapet"><i class="my-white fa fa-phone"></i><b class="my-white"> {{data['phone']}}</b></p>
        <p class="rapet"><a href="#"><i class="my-white fa fa-envelope"></i><b class="my-white"> {{data['email']}}</b></a></p>
    </div>
    <div style="background-color: #21b96b;" class="top visible-lg visible-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">							
                    <ul class="social-network  visible-lg visible-sm">
                        <li><a href="{{data['facebook']}}" data-placement="bottom" title="Facebook"><i class="fa fa-facebook-square fa-lg my-white"></i></a></li>
                        <li><a href="{{data['twitter']}}" data-placement="bottom" title="Twitter"><i class="fa fa-twitter-square fa-lg my-white"></i></a></li>
                        <li><a href="{{data['instagram']}}" data-placement="bottom" title="Instagram"><i class="fa fa-instagram fa-lg my-white"></i></a></li>
                        <li><a href="{{data['linkedin']}}" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin-square fa-lg my-white"></i></a></li>
                        <li><a href="{{data['path']}}" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest-square fa-lg my-white"></i></a></li>
                        <li><a href="{{data['google_plus']}}" data-placement="bottom" title="Google plus"><i class="fa fa-google-plus-square fa-lg my-white"></i></a></li>
                    </ul>						
                    <ul class="topleft-info">
                        <li><i class="my-white fa fa-map-marker"></i><b class="my-white"> {{data['alamat']}}</b></li>
                        <li><i class="my-white fa fa-phone"></i><b class="my-white"> {{data['phone']}}</b></li>
                        <li><a href="#"><i class="my-white fa fa-envelope"></i><b class="my-white"> {{data['email']}}</b></a></li>
                    </ul>	
                </div>
                <div class="col-md-6">						
                    <div id="sb-search" class="sb-search">								
                        <form>
                            <input class="sb-search-input" placeholder="Masukkan kata pencarian..." type="text" value="" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search" title="Klik untuk memulai pencarian"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>	
        
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{url_for('blog.index')}}"><img src="{{data['logo_web']}}" alt="LOGO-IMARA.jpg" height="52" /></a>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="{{url_for('blog.tentangKami')}}">Tentang Kami</a></li>
                    <li><a href="#">Campaign</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-other="false">Program <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Kelas Baca</a></li>
                            <li><a href="#">Kelasa Bahasa</a></li>
                            <li><a href="#">Kelasa Komputer</a></li>
                            <li><a href="#">Kelas Menulis</a></li>
                        </ul>
                    </li>
                    <li><a href="{{url_for('blog.berita')}}">Berita</a></li>
                    <li><a href="{{url_for('blog.activity')}}">Activity</a></li>
                    <li><a href="#">Photo Gallery</a></li>
                    <li><a href="#">Hubungi Kami</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>