<meta charset="utf-8">
<title> {{ data['nama_web'] }} - Selamat Datang</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Bootstrap 3 template for corporate business" />
<!-- css -->

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/animate.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.bxslider.css')}}">
<link href="{{url_for('static', filename='plugins/flexslider/flexslider.css')}}" rel="stylesheet" media="screen" />	
<link href="{{url_for('static', filename='css/cubeportfolio.min.css')}}" rel="stylesheet" />
<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/my-style.css')}}">
<link rel="icon" href="{{data['icon_web']}}">

<!-- Theme skin -->
<link id="t-colors" href="{{url_for('static', filename='skins/default.css')}}" rel="stylesheet" />

	<!-- boxed bg -->
	<link id="bodybg" href="{{url_for('static', filename='bodybg/bg1.css')}}" rel="stylesheet" type="text/css" />

<!-- =======================================================
    Theme Name: Sailor
    Theme URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
======================================================= -->