<!-- Placed at the end of the document so the pages load faster -->
<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.bxslider.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.cubeportfolio.min.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.appear.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/wow.js')}}"></script>
<script src="{{url_for('static', filename='js/custom2.js')}}"></script>
<script src="{{url_for('static', filename='plugins/flexslider/jquery.flexslider-min.js')}}"></script> 
<script src="{{url_for('static', filename='plugins/flexslider/flexslider.config.js')}}"></script>
<script src="{{url_for('static', filename='js/modernizr.custom.js')}}"></script>
<script src="{{url_for('static', filename='js/stellar.js')}}"></script>
<script src="{{url_for('static', filename='js/classie.js')}}"></script>
<script src="{{url_for('static', filename='js/uisearch.js')}}"></script>
<script src="{{url_for('static', filename='js/google-code-prettify/prettify.js')}}"></script>
<script src="{{url_for('static', filename='js/animate.js')}}"></script>
<script src="{{url_for('static', filename='js/custom.js')}}"></script>