<aside class="right-sidebar">
                        <div class="widget">
                            <h5 class="widgetheading">Categories</h5>
                            <ul class="cat">
                                {% if kat %}
                                {% for d in sideBar['kategori'] %}
                                    {% if kat == d['id'] %}
                                    <li><i class="fa fa-angle-right"></i><a href="{{url_for('blog.berita')}}?pagesizeIndex=1&currentpage=1&search=&tag=&kategori={{d['id']}}"><b style="color: #21b96b;">{{d['nama']}}</b></a><span> <b style="color: #21b96b;">({{d['jml']}})</b></span></li>
                                    {% else %}
                                    <li><i class="fa fa-angle-right"></i><a href="{{url_for('blog.berita')}}?pagesizeIndex=1&currentpage=1&search=&tag=&kategori={{d['id']}}">{{d['nama']}}</a><span> ({{d['jml']}})</span></li>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                {% for d in sideBar['kategori'] %}
                                <li><i class="fa fa-angle-right"></i><a href="{{url_for('blog.berita')}}?pagesizeIndex=1&currentpage=1&search=&tag=&kategori={{d['id']}}">{{d['nama']}}</a><span> ({{d['jml']}})</span></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widgetheading">Latest posts</h5>
                            <ul class="recent">
                                {% for d in sideBar['lastPost'] %}
                                <li>
                                <img src="{{d['gambar']}}" class="pull-left" alt="" style="max-width: 65px; max-height: 65px;" />
                                <h6><a href="{{url_for('blog.lihatBerita', token=d['token'])}}">{{d['judul']}}</a></h6>
                                <p>
                                        {{d['content']|markdown}}
                                </p>
                                </li>
                                <br>
                                {% endfor %}                                
                            </ul>
                        </div>
                        <div class="widget">
                            <h5 class="widgetheading">Popular tags</h5>
                            <ul class="tags">
                                {% if tag %}
                                {% for d in sideBar['popularTags'] %}
                                    {% if tag == d[0] %}
                                    <li><a style="background: #21b96b; color: black;" href="{{url_for('blog.berita')}}?pagesizeIndex=1&currentpage=1&search=&kategori=&tag={{d[0]}}">{{d[0]}} ({{d[1]}})</a></li>
                                    {% else %}
                                    <li><a href="{{url_for('blog.berita')}}?pagesizeIndex=1&currentpage=1&search=&kategori=&tag={{d[0]}}">{{d[0]}} ({{d[1]}})</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% else %}
                                {% for d in sideBar['popularTags'] %}
                                <li><a href="{{url_for('blog.berita')}}?pagesizeIndex=1&currentpage=1&search=&kategori=&tag={{d[0]}}">{{d[0]}} ({{d[1]}})</a></li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    </aside>