
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'base/head.html' %}
</head>
<body>


<div id="wrapper">
	<!-- start header -->
	{% include 'base/header.html' %}
	<!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a></li>
					<li class="active">Berita</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				{% if key != "" %}
				<div class="searchtitle" style="margin-bottom: 25px;">
					<p class="lead">{{dataTable['jml_data']}} hasil untuk pencarian '{{key}}'</p>
				</div>
				{% elif tag != "" %}
				<div class="searchtitle" style="margin-bottom: 25px;">
					<p class="lead">{{dataTable['jml_data']}} hasil untuk tag '{{tag}}'</p>
				</div>
				{% elif kat != "" %}
				<div class="searchtitle" style="margin-bottom: 25px;">
					{% for d in sideBar['kategori'] %}
						{% if kat == d['id'] %}
						<p class="lead">{{dataTable['jml_data']}} hasil untuk kategori '{{d['nama']}}'</p>
						{% endif %}
					{% endfor %}
				</div>
				{% endif %}
				<form action="{{url_for('blog.berita')}}" method="GET">
					<div class="card">
						<div class="card-block">
						<div class="form-group row">
							<div class="col-sm-6">
							<label class="form-control-label" for="pagesize">Jumlah Berita Perhalaman</label> 
							<div class="input-group">                         
								<select name="pagesizeIndex" id="pagesize" class="form-control">
								{% for size in dataTable['pagesizes'] %}
								{% if size == dataTable['pagesize'] %}
								<option value="{{loop.index}}" selected>{{ size }}</option>
								{% else %}
								<option value="{{loop.index}}">{{ size }}</option>
								{% endif %}
								{% endfor %}
								</select>
								<input type="hidden" name="currentpage" id="currentpage" value="{{dataTable['currentpage']}}">
								<span class="input-group-btn">
								<button class="btn btn-primary" type="submit" onclick="pagination(2)">Ok</button>
								</span>                                                                            
							</div>                        
							</div>                     
							
							<div class="col-sm-6">
							<label class="form-control-label" for="appendedInputButton">Cari</label>
							<div class="controls">
								<div class="input-group">
								<input type="hidden" name="kategori" value="{{kat}}">
								<input type="hidden" name="tag" value="{{tag}}">
								<input id="appendedInputButton" name="search" class="form-control" size="16" type="text" value="{{key}}">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
								</span>
								</div>
							</div>                      
							</div>          
						</div>   

							{% if dataTable['status'] == "Ok" %}
								{% for dt in dataBerita %}
								<article>
									<div class="post-image">
										<div class="post-heading">
											<h3><a href="#">{{dt['judul']}}</a></h3>
										</div>
										<img src="{{dt['cover_image']}}" alt="" class="img-responsive" />
									</div>
									<p>
										{{dt['content'][0:300] | markdown}}...
									</p>
									<div class="bottom-article">
										<ul class="meta-post">
											<li><i class="fa fa-calendar"></i><a href="#"> {{dt['created']}}</a></li>
											<li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
											<li><i class="fa fa-folder-open"></i><a href="#"> Blog</a></li>
											<li><i class="fa fa-comments"></i><a href="#"><span class="disqus-comment-count" data-disqus-url="{{url_for('blog.lihatBerita', token=dt['token'],  _external=True)}}#disqus_thread"></span></a></li>
										</ul>
										<a href="{{url_for('blog.lihatBerita', token=dt['token'])}}" class="readmore pull-right">Continue reading <i class="fa fa-angle-right"></i></a>
									</div>
								</article>
								{% endfor %}
							{% else %}
								Data Tidak Ditemukan
							{% endif %}
						<nav>
							{% if dataTable['status'] == "Ok" %}
							<label class="form-control-label">Jumlah Data : <b>{{dataTable['jml_data']}}</b></label>
							&nbsp &nbsp
							<label class="form-control-label">Halaman ke-<b id="currentpage">{{ dataTable['currentpage'] }}</b> dari <b id="pagenumber">{{ dataTable['pagenumber'] }}</b> Halaman</label>
							&nbsp &nbsp
							<ul class="pagination">
								<li class="page-item">
									{% if dataTable['currentpage'] <= 1 %}
									<button onclick="pagination(2)" class="btn" disabled><i class="fa fa-angle-double-left"></i></button>
									{% else %}
									<button onclick="pagination(2)" class="btn btn-primary"><i class="fa fa-angle-double-left"></i></button>
									{% endif %}
								</li>
								<li class="page-item">
									{% if dataTable['currentpage'] <= 1 %}
									<button onclick="pagination(0)" class="btn" disabled><i class="fa fa-angle-left"></i></button>
									{% else %}
									<button onclick="pagination(0)" class="btn btn-primary"><i class="fa fa-angle-left"></i></button>
									{% endif %}
								</li>
								<li class="page-item">
									{% if dataTable['currentpage'] >= dataTable['pagenumber'] %}
									<button onclick="pagination(1)" class="btn" disabled><i class="fa fa-angle-right"></i></button>
									{% else %}
									<button onclick="pagination(1)" class="btn btn-primary"><i class="fa fa-angle-right"></i></button>
									{% endif %}
								</li>
								<li class="page-item">
									{% if dataTable['currentpage'] >= dataTable['pagenumber'] %}
									<button onclick="pagination(3)" class="btn" disabled><i class="fa fa-angle-double-right"></i></button>
									{% else %}
									<button onclick="pagination(3)" class="btn btn-primary"><i class="fa fa-angle-double-right"></i></button>
									{% endif %}
								</li>
							</ul>
							{% else %}
							{% endif %}
						</nav>
						</div>
					</div>
				</form>
				<div class="clear"></div>
			</div>
			<div class="col-lg-4">
				<!-- sidebar -->
				{% include 'base/sidebar.html' %}
			</div>
		</div>
	</div>
	</section>
	{% include 'base/footer.html' %}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include 'base/js.html' %}
<script id="dsq-count-scr" src="https://rosyid-1.disqus.com/count.js" async></script>
<script>
function pagination(no){
	var currentpage = document.getElementById('currentpage').value;
	if (no == 0){
	$('#currentpage')[0].value = parseInt(currentpage) - 1;
	}else if (no == 1){
	$('#currentpage')[0].value = parseInt(currentpage) + 1;
	}else if (no == 2){
	$('#currentpage')[0].value = 1;
	}else if (no == 3){
	$('#currentpage')[0].value = document.getElementById('pagenumber').innerHTML;
	}    
}
</script>   
	
</body>
</html>