<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Flask-SimpleMDE example</title>
{{ simplemde.css }}
{{ simplemde.js }}
</head>
<body>
<textarea id="xxx">
Some Markdown Text Here
</textarea>
{{ simplemde.load_id("xxx") }}
</body 