<!DOCTYPE html>
<html lang="en">
<head>
{% include 'base/head.html' %}
</head>
<body>



<div id="wrapper">
	<!-- start header -->
	{% include 'base/header.html' %}
	<!-- end header -->
	<section id="featured" class="bg">
	<!-- start slider -->

			
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="main-slider flexslider">
            <ul class="slides">
              <li>
                <img src="{{url_for('static', filename='img/slides/1.-Pemanfaatan-Botol-Bekas.jpg')}}" alt="" />
                <div class="flex-caption">
                    <h3>BELAJAR PEMANFAATAN BOTOL BEKAS </h3> 
					<p>Kegiatan pemanfaatan botol bekas merupakan kegiatan pertama kali yang dilakukan saat Rumah Belajar Imara ini didirikan. Didalam foto tersebut terdapat adik yang ...</p> 
					<a href="#" class="btn btn-theme">Selengkapnya</a>
                </div>
              </li>
              <li>
                <img src="{{url_for('static', filename='img/slides/2.-Den-Hasan.jpg')}}" alt="" />
                <div class="flex-caption">
                    <h3>DEN HASAN DATANG MEMBAWA TAWA</h3> 
					<p>Suara tawa anak-anak telah mencairkan suasana. Tepat saat Den Hasan datang pada hari Jumat, 13 April datang mengunjungi rumah belajar kami. Den Hasan datang melukiskan sebuah cerita ....</p> 
					<a href="#" class="btn btn-theme">Selengkapnya</a>
                </div>
              </li>
              <li>
                <img src="{{url_for('static', filename='img/slides/4.-Serunya-bermain-kertas-lipat.jpg')}}" alt="" />
                <div class="flex-caption">
                    <h3>SERUNYA BERMAIN KERTAS LIPAT</h3> 
					<p>Kegiatan yang dilakukan dalam Rumah belajar Imara selain berdiskusi dan pelatihan komputer, rumah belajar Imara mengadakan kelas kreasi.  Adik-adik diajari  agar terampil dalam membentuk ...</p> 
					<a href="#" class="btn btn-theme">Selengkapnya</a>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>
	</section>
	
	<section id="content">
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="wow flipInY animated" data-wow-offset="0" data-wow-delay="0.4s" style="visibility: visible;-webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
					<div class="section-heading text-center">
						<h2 class="service-title pad-bt15">ABOUT</h2>
						<hr class="my-bottom-line">
						<p class="my-text">
							{{data['about']}}
						</p>
					</div>
				</div>
			</div>		
		</div>
		</div>
		
		<div class="container">
		<div class="row">
          <div class="col-md-12 text-center">
			<hr>
			<h2 class="service-title pad-bt15">CAMPAIGN</h2>
            <hr class="my-bottom-line">
		  </div>
		  <div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="blog-sec">
				<div class="blog-img">
					<a href="">
					<img src="{{url_for('static', filename='img/blog01.jpg')}}" class="img-responsive">
					</a>
				</div>
				<div class="blog-info">
					<h3>BELAJAR PEMANFAATAN BOTOL BEKAS</h3>
					<div class="blog-comment">
						<p>Posted In: <span>Legal Advice</span></p>
						<p>
						<span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
						<span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
					</div>
					<p>Kegiatan pemanfaatan botol bekas merupakan kegiatan pertama kali yang dilakukan saat Rumah Belajar Imara ini didirikan. Didalam foto tersebut terdapat adik yang ...</p>
					<div class="progress progress-striped">
						<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
							<span class="sr-only">80% Complete</span>
						</div>
					</div>
					<div class="pull-left">
						<p>RAISED</p>
						<h4>Rp0</h4>
						<a href="" class="read-more">Selengkapnya</a>
						<br><br>
					</div>
					<div class="pull-right">
						<p>GOAL</p>
						<h4>Rp5000000</h4>
					</div>
				</div>
				</div>
			</div>
		  </div>
		  <div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
			<div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-sec">
              <div class="blog-img">
                <a href="">
                  <img src="{{url_for('static', filename='img/blog02.jpg')}}" class="img-responsive">
                </a>
              </div>
              <div class="blog-info">
                <h3>DEN HASAN DATANG MEMBAWA TAWA</h3>
                <div class="blog-comment">
                    <p>Posted In: <span>Legal Advice</span></p>
                    <p>
                      <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                      <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
                </div>
                <p>Suara tawa anak-anak telah mencairkan suasana. Tepat saat Den Hasan datang pada hari Jumat, 13 April datang mengunjungi rumah belajar kami. Den Hasan datang melukiskan sebuah cerita ....</p>
                <div class="progress progress-striped">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				<div class="pull-left">
					<p>RAISED</p>
					<h4>Rp0</h4>
					<a href="" class="read-more">Selengkapnya</a>
					<br><br>
				</div>
				<div class="pull-right">
					<p>GOAL</p>
					<h4>Rp5000000</h4>
				</div>
              </div>
            </div>
			</div>
		  </div>
          
		  <div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
			<div class="col-md-4 col-sm-6 col-xs-12">
            <div class="blog-sec">
              <div class="blog-img">
                <a href="">
                  <img src="{{url_for('static', filename='img/blog03.jpg')}}" class="img-responsive">
                </a>
              </div>
              <div class="blog-info">
                <h3>SERUNYA BERMAIN KERTAS LIPAT</h3>
                <div class="blog-comment">
                    <p>Posted In: <span>Legal Advice</span></p>
                    <p>
                      <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                      <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
                </div>
                <p>Kegiatan yang dilakukan dalam Rumah belajar Imara selain berdiskusi dan pelatihan komputer, rumah belajar Imara mengadakan kelas kreasi.  Adik-adik diajari  agar terampil dalam membentuk ...</p>
                <div class="progress progress-striped">
					<div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">
						<span class="sr-only">15% Complete</span>
					</div>
				</div>
				<div class="pull-left">
					<p>RAISED</p>
					<h4>Rp0</h4>
					<a href="" class="read-more">Selengkapnya</a>
					<br><br>
				</div>
				<div class="pull-right">
					<p>GOAL</p>
					<h4>Rp5000000</h4>
				</div>
              </div>
            </div>
		  	</div>
		  </div>
          
		</div>
		  <div class="wow flipInY animated" data-wow-offset="0" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
			<div class="row text-center">
		  		<button class="btn btn-default my-btn-round" tabindex="7">Lihat Semua</button>
		 	</div>
		  </div>		  	  
		</div>
		
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<hr>
				<div class="row">
					<div class="col-lg-6">
						<div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
							<h2 class="service-title pad-bt15">WHO WE ARE</h2>
							<hr align="left" class="my-bottom-line">
							<img class="img-responsive my-image-banner" src="{{data['cover_latar_belakang']}}" alt="banner 2 imara.jpg">
							<div class="row">
								<div class="col-lg-12">
									<div class="row">
										<div class="col-lg-6">
											<h3 class="rapet service-title pad-bt15">Latar Belakang</h3>
											<p>
												{{data['content_latar_belakang'][0:125]}} . . .
											</p>
											<a href="" class="read-more">Selengkapnya</a>
										</div>
										<div class="col-lg-6">
											<h3 class="rapet service-title pad-bt15">Tentang Kami</h3>
											<p>
												{{data['content_tentang_kami'][0:125]}} . . .
											</p>
											<a href="" class="read-more">Selengkapnya</a>
										</div>
									</div>							
								</div>
							</div>
						</div>						
					</div>
					<div class="col-lg-6">
						<div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
							<h2 class="service-title pad-bt15">WHY CHOOSE US</h2>
							<hr align="left" class="my-bottom-line">
							<div class="panel-group">
								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 data-toggle="collapse" data-target="#visi" class="panel-title"><span><i class="glyphicon glyphicon-chevron-right"></i></span> Visi Kami</h3>
									</div>
									<div id="visi" class="collapse panel-body">
										<p>
											{{data['visi']}}	
										</p>	
									</div>
								</div>
								<div class="panel panel-success">
									<div class="panel-heading">
										<h3 data-toggle="collapse" data-target="#misi" class="panel-title"><span><i class="glyphicon glyphicon-chevron-right"></i></span> Misi Kami</h3>
									</div>
									<div id="misi" class="collapse panel-body">
										<pre class="my-misi">{{data['misi']}}</pre>
									</div>
								</div>
							</div>
						</div>												
					</div>
				</div>
				<hr>
			</div>
		</div>
		</div>
				

		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="blankline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->
		
	<!-- parallax1  -->
	<div id="parallax1" style="background-image: url({{data['parallax_photo1']}});" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">	
    <div class="container">
				<div class="row appear stats">
					<div class="col-lg-12">
						<div class="align-center color-white txt-shadow">
						<h3 class="highlight-dark wow bounceInDown animated">{{data['parallax_mini_text1']}}</h3>
						<h2 class="big-heading highlight-dark wow bounceInDown animated">{{data['parallax_main_text1']}}</h2>
						</div>
					</div>				
				</div>
    </div>
	</div>	 
	
		<div class="container">
		<div class="row">		  
			<div class="col-md-12 text-center">
				<hr>
				<h2 class="service-title pad-bt15">BERITA</h2>
				<hr class="my-bottom-line">
			</div>
			{% if berita %}
				{% for dt in berita %}
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
					<div class="blog-sec">
					<div class="blog-img">
						<a href="">
						<img src="{{dt['cover_image']}}" class="img-responsive">
						</a>
					</div>
					<div class="blog-info">
						<h3>{{dt['judul']}}</h3>
						<div class="blog-comment">
							<p>Posted By: <span>Admin</span></p>
							<p>
							<span><a href="#"><i class="fa fa-comments"></i></a> <span class="disqus-comment-count" data-disqus-url="{{url_for('blog.lihatBerita', token=dt['token'],  _external=True)}}#disqus_thread"></span></span>
							&nbsp
							<span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
						</div>
						<p>
							{{dt['content'][0:125] | markdown}} ...
						</p>
						<a href="{{url_for('blog.lihatBerita', token=dt['token'])}}" class="read-more">Selengkapnya</a>
					</div>
					</div>
					</div>			
				</div>
				{% endfor %}
			{% endif %}        
    	</div>
		<div class="team-wrapper-big wow bounceInUp animated" data-wow-offset="0" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
			<div class="row text-center">
		  		<a href="{{url_for('blog.berita')}}"><button class="btn btn-default my-btn-round" tabindex="7">Lihat Semua</button></a>
		 	</div>
		</div>
		<hr>	  
		</div>		

		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="blankline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->

		<div class="container">
			<div class="row">		  
				<div class="col-md-12 text-center">
					<h2 class="service-title pad-bt15">ACTIVITY</h2>
					<hr class="my-bottom-line">
				</div>
				{% if activity %}
					{% for dt in activity %}
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
						<div class="blog-sec">
						<div class="blog-img">
							<a href="">
							<img src="{{dt['cover_image']}}" class="img-responsive">
							</a>
						</div>
						<div class="blog-info">
							<h3>{{dt['judul']}}</h3>
							<div class="blog-comment">
								<p>Posted By: <span>Admin</span></p>
								<p>
								<span><a href="#"><i class="fa fa-comments"></i></a> <span class="disqus-comment-count" data-disqus-url="{{url_for('blog.lihatActivity', token=dt['token'],  _external=True)}}#disqus_thread"></span></span>
								&nbsp
								<span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
							</div>
							<p>
								{{dt['content'][0:125] | markdown}} ...
							</p>
							<a href="{{url_for('blog.lihatActivity', token=dt['token'])}}" class="read-more">Selengkapnya</a>
						</div>
						</div>
						</div>			
					</div>
					{% endfor %}
				{% endif %}        
			</div>
			<div class="team-wrapper-big wow bounceInUp animated" data-wow-offset="0" data-wow-delay="0.5s" style="visibility: visible;-webkit-animation-delay: 0.5s; -moz-animation-delay: 0.5s; animation-delay: 0.5s;">
				<div class="row text-center">
						<a href="{{url_for('blog.activity')}}"><button class="btn btn-default my-btn-round" tabindex="7">Lihat Semua</button></a>
					</div>
			</div>
			<hr>	  
			</div>		
	
			<!-- divider -->
			<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="blankline">
					</div>
				</div>
			</div>
			</div>
			<!-- end divider -->

		<div class="container">
			<div class="wow fadeInUp delay-02s animated" style="visibility: visible; animation-name: fadeInUp;">
				<div class="row my-quote">
					<div class="col-lg-12 text-center my-quote-block">
						<div class="row">
							<h2 class="my-white service-title pad-bt15">WHAT PEOPLE SAY</h2>
							<hr class="my-bottom-line">
							<div class="testimonialslide clearfix flexslider">
								<ul class="slides">
									{% if people_say %}
									{% for dt in people_say %}
									<li>
										<blockquote>
											<p class="text-quote">"{{dt['quote']}}"</p>
										</blockquote>										
										<h3>{{dt['nama']}} <span>&#8213; {{dt['jabatan']}}</span></h3>
									</li>
									{% endfor %}
									{% endif %}
								</ul>
							</div>					
						</div>				
					</div>
				</div>			
			</div>
		</div>	
		
		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->

		<!-- parallax1  -->
	<div id="parallax1" style="background-image: url({{data['parallax_photo2']}});" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">	
    <div class="container">
				<div class="row appear stats">
					<div class="col-lg-12">
						<div class="align-center color-white txt-shadow">
						<h3 class="highlight-dark wow bounceInDown animated">{{data['parallax_mini_text2']}}</h3>
						<h2 class="big-heading highlight-dark wow bounceInDown animated">{{data['parallax_main_text2']}}</h2>
						</div>
					</div>				
				</div>
    </div>
	</div>
		
		<!-- divider -->
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		</div>
		<!-- end divider -->
	
	</section>
	
{% include 'base/footer.html' %}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>

{% include 'base/js.html' %}	
<script id="dsq-count-scr" src="https://rosyid-1.disqus.com/count.js" async></script>
</body>
</html>