
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'base/head.html' %}
</head>
<body>


<div id="wrapper">
	<!-- start header -->
	{% include 'base/header.html' %}
	<!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a></li>
					<li class="">Berita</li>
					<li class="active">{{berita['judul']}}</li>
				</ul>
			</div>
		</div>
	</div>
	</section>
	
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<article>
							<div class="post-image">
								<div class="post-heading">
									<h3><a href="#">{{berita['judul']}}</a></h3>
								</div>
								<img src="{{berita['cover_image']}}" alt="" class="img-responsive">

							</div>
							<div class="sharethis-inline-share-buttons"></div>							
							<p>
							{{berita['content']|markdown}}
							</p>
							<div class="bottom-article">
								<ul class="meta-post">
									<li><i class="fa fa-calendar"></i><a href="#"> {{berita['created']}}</a></li>
									<li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
									<li><i class="fa fa-comments"></i><a href="#"><span class="disqus-comment-count" data-disqus-url="{{url_for('blog.lihatBerita', token=berita['token'],  _external=True)}}#disqus_thread"></a></li>
									<li><i class="fa fa-tags"></i>
										{% for d in berita['tags'] %}
										<a href="#">{{d['nama']}}</a>
										{% endfor %}
									</li>
								</ul>
							</div>
					</article>
					<div id="disqus_thread"></div>
					<script>
						/**
						 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT 
						 *  THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR 
						 *  PLATFORM OR CMS.
						 *  
						 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: 
						 *  https://disqus.com/admin/universalcode/#configuration-variables
						 */
						
						var disqus_config = function () {
							// Replace PAGE_URL with your page's canonical URL variable
							this.page.url = '{{request.url}}';  
							
							// Replace PAGE_IDENTIFIER with your page's unique identifier variable
							//this.page.identifier = PAGE_IDENTIFIER; 
						};
						
						(function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
							var d = document, s = d.createElement('script');
							
							// IMPORTANT: Replace EXAMPLE with your forum shortname!
							s.src = 'https://rosyid-1.disqus.com/embed.js';
							
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>
						Please enable JavaScript to view the 
						<a href="https://disqus.com/?ref_noscript" rel="nofollow">
							comments powered by Disqus.
						</a>
					</noscript>						
				</div>
				<div class="col-lg-4">
					<!-- sidebar -->
					{% include 'base/sidebar.html' %}
				</div>
			</div>
		</div>
	</section>

	{% include 'base/footer.html' %}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include 'base/js.html' %}
<script id="dsq-count-scr" src="https://rosyid-1.disqus.com/count.js" async></script>
<script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=59dd0935be590e0012288766&product=inline-share-buttons"></script>
<script>
	DISQUSWIDGETS.getCount({reset: true});
</script>
<script>
function pagination(no){
	var currentpage = document.getElementById('currentpage').value;
	if (no == 0){
	$('#currentpage')[0].value = parseInt(currentpage) - 1;
	}else if (no == 1){
	$('#currentpage')[0].value = parseInt(currentpage) + 1;
	}else if (no == 2){
	$('#currentpage')[0].value = 1;
	}else if (no == 3){
	$('#currentpage')[0].value = document.getElementById('pagenumber').innerHTML;
	}    
}
</script>   
	
</body>
</html>