
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'base/head.html' %}
</head>
<body>


<div id="wrapper">
	<!-- start header -->
	{% include 'base/header.html' %}
	<!-- end header -->
	<section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li><a href="{{url_for('blog.index')}}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Tentang Kami</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
	
	<section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>Latar Belakang</h3>
                    <center><img src="{{data['cover_latar_belakang']}}" alt="" class="img-responsive" ></center>
                    <p>
                        {{data['content_tentang_kami']}}
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Tentang Kami</h3>
                    <center><img src="{{data['cover_tentang_kami']}}" alt="" class="img-responsive" ></center>
                    <p>
                        {{data['content_tentang_kami']}}
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <h3>Visi</h3> 
                    <pre class="my-misi">{{data['visi']}}</pre>
                </div>
                <div class="col-lg-6">
                    <h3>Misi</h3> 
                    <pre class="my-misi">{{data['misi']}}</pre>
                </div>                
            </div>   
        </div>
        </section>
	{% include 'base/footer.html' %}
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{% include 'base/js.html' %}
</body>
</html>